<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>React Demo</title>
    <script src="libs/react.js"></script>
    <script src="libs/react-dom.js"></script>
    <script src="libs/babel-core.min.js"></script>
    <script src="libs/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" href="css/style.css"></link>
  </head>
  <body>
    <div id="root"></div>
    <!-- <script type="text/babel" src="home.js"></script> -->
    <div id="bt1"></div>
    <!-- <script type="text/babel" src="bt1.js"></script> -->
    <div id="interval"></div>
    <!-- <script type="text/babel" src="componentDidMount.js"></script> -->
    <div id="arr"></div>
    <!-- <script type="text/babel" src="arr.js"></script> -->
    <div id="idx"></div>
    <script type="text/babel" src="idx.js"></script>
</body>
</html>
